<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authentification client</title>
</head>
<body>
<h1 align="center">Se connecter</h1>
<form th:action=@{/sealink/authentification/authentificationClient} method="POST">
    <div align="center">
        <input type="email" name="mail" id="mail" placeholder="mail" pattern=".+@gmail.com|.+@outlook.com|.+@outlook.fr|.+@yahoo.com|.+@yahoo.fr">
        <input type="password" name="password" id="password" placeholder="Mot de passe"><br>
        <input type="submit" value="Se connecter">
    </div>
</form>
<a href="">s'inscrire</a>
</body>
</html>